In [ ]:
# Python casestudy - Question 1

In [ ]:
items_dict = {'Apple':50,'Banana':15,'Orange':48,'Sugar':45,'Rice':25,'Salt':10,'Wheat':30}

items1 = input("Enter the 1st items to purchase:")
Qty1 = input("Enter the weight of the 1st items (Kgs):")
items2 = input("Enter the 2nd items to purchase:")
Qty2 = input("Enter the weight of the 2nd items (Kgs):")
items3 = input("Enter the 3rd items to purchase:")
Qty3 = input("Enter the weight of the 3rd items (Kgs):")

purchase_dict = {items1:Qty1,items2:Qty2,items3:Qty3}

print("\n\nSI.No",end="     ")
print("Item Name",end="    ")
print("Unit Price",end="    ")
print("Qty",end="      ")
print("Total Price")
print("-------------------------------------------------------------------")
print(1,end="      ")
print(items1,end="           ")
print(items_dict[items1],end="            ")
print(Qty1,end="               ")
print(float(Qty1)*items_dict[items1])
print(2,end="      ")
print(items2,end="           ")
print(items_dict[items2],end="            ")
print(Qty2,end="               ")
print(float(Qty2)*items_dict[items2])
print(3,end="      ")
print(items3,end="           ")
print(items_dict[items3],end="            ")
print(Qty3,end="               ")
print(float(Qty3)*items_dict[items3])
print("------------------------------------------------------------------")
print("Grand Total =                                    ",float(Qty1)*items_dict[items1]+float(Qty2)*items_dict[items2]+float(Qty3)*items_dict[items3])
print("------------------------------------------------------------------")

Enter the 1st items to purchase:Wheat
Enter the weight of the 1st items (Kgs):4
Enter the 2nd items to purchase:Banana
Enter the weight of the 2nd items (Kgs):2
Enter the 3rd items to purchase:Rice
Enter the weight of the 3rd items (Kgs):6


SI.No     Item Name    Unit Price    Qty      Total Price
-------------------------------------------------------------------
1      Wheat           30            4               120.0
2      Banana           15            2               30.0
3      Rice           25            6               150.0
------------------------------------------------------------------
Grand Total =                                     300.0
------------------------------------------------------------------

In [ ]:
#Python casestudy - Question 2

In [ ]:
Marks = [90,85,95,84,90]
Total_Marks = Marks[0]+Marks[1]+Marks[2]+Marks[3]+Marks[4]
Avg_Marks = Total_Marks/5
print("Average Mark is:   ",Avg_Marks)
if Avg_Marks >90:
  print("Student Grade is : Grade A")
elif Avg_Marks >= 70:
  print("Student Grade is : Grade B")
elif Avg_Marks >= 50:
  print("Student Grade is : Grade C")
else:
  print("Student Grade is : Grade D")

Average Mark is:    88.8
Student Grade is : Grade B

In [ ]:

English = input("Enter the English Mark:")
Maths = input("Enter the Maths Mark:")
Science = input("Enter the Science Mark:")
Social = input("Enter the Social Mark:")
Computer = input("Enter the Computer Mark:")
Marks=[English,Maths,Science,Social,Computer]
print(Marks)
Total_Marks = int(English)+int(Maths)+int(Science)+int(Social)+int(Computer)
Avg_Marks = Total_Marks/5
print("\n\nAverage Mark is:   ",Avg_Marks)
if Avg_Marks >90:
  print("Student Grade is : Grade A")
elif Avg_Marks >= 70:
  print("St8udent Grade is : Grade B")
elif Avg_Marks >= 50:
  print("Student Grade is : Grade C")
else:
  print("Student Grade is : Grade D")

Enter the English Mark:55
Enter the Maths Mark:65
Enter the Science Mark:75
Enter the Social Mark:5
Enter the Computer Mark:95
['55', '65', '75', '5', '95']


Average Mark is:    59.0
Student Grade is : Grade C

In [ ]:
#Python casestudy - Question 3

In [ ]:
Available_seats = [1,2,3,4,5,6,7,8,9,10,21,22,23,25,35,38,47,50]
print(Available_seats)
Book_seat = input("\nEnter the seat number for booking:")
i=0
while i < len(Available_seats):
  if Available_seats[i] == int(Book_seat):
    Available_seats.pop(i)
    print("\n-----Your booking has been confirmed-----")
    break
  else:
    i += 1
if i >= len(Available_seats):
  print("\nEntered seat is not available, please select another seat")
print("\nNow Available seats are :   ",Available_seats)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 22, 23, 25, 35, 38, 47, 50]

Enter the seat number for booking:1

-----Your booking has been confirmed-----

Now Available seats are :    [2, 3, 4, 5, 6, 7, 8, 9, 10, 21, 22, 23, 25, 35, 38, 47, 50]